html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

a:hover {
  cursor: pointer;
}

.bg-7blue {
  background-color: $blue !important;
}

.bg-7brown {
  background-color: $brown !important;
}

.bg-7green {
  background-color: $green !important;
}

.bg-7grey {
  background-color: $grey !important;
}

.bg-7purple {
  background-color: $purple !important;
}

.bg-7red {
  background-color: $red !important;
}

.bg-7yellow {
  background-color: $yellow !important;
}
