@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $text-secondary;
  background-color: $bg-wrapper;
}

body,
html,
#app {
  height: 100%;
}

a:hover {
  cursor: pointer;
}

.container,
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.bg-7blue {
  background-color: $blue !important;
}

.bg-7brown {
  background-color: $brown !important;
}

.bg-7green {
  background-color: $green !important;
}

.bg-7grey {
  background-color: $grey !important;
}

.bg-7purple {
  background-color: $purple !important;
}

.bg-7red {
  background-color: $red !important;
}

.bg-7yellow {
  background-color: $yellow !important;
}

.text-7blue {
  color: $blue !important;
}

.text-7brown {
  color: $brown !important;
}

.text-7green {
  color: $green !important;
}

.text-7grey {
  color: $grey !important;
}

.text-7purple {
  color: $purple !important;
}

.text-7red {
  color: $red !important;
}

.text-7yellow {
  color: $yellow !important;
}
