.sidebar {
  background-color: #2b3140;
  height: 100%;

  .list-group {
    border-radius: 0%;

    .list-group-item {
      background-color: transparent;
      border-color: transparent;

      // &.active {
      //   border-color: transparent;
      // }
    }
  }
}
