.sidebar {
  background-color: $bg-sidebar;
  height: 100%;
  // margin-top: 8px;

  .list-group {
    border-radius: 0%;

    .list-group-item {
      background-color: transparent;
      border-color: transparent;

      &:hover {
        background-color: $text-primary;
        color: $text-secondary;
      }

      &.active {
        color: $text-primary;
        font-weight: 700;

        &:hover {
          background-color: $text-primary;
          color: $text-secondary;
        }
      }

      i {
        margin-right: 10px;
      }
    }
  }
}
